.navigation {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.navigation__list {
    list-style-type: none;
    padding: 0px;
}

.navigation__listItem {
    text-align: center;
}

.navigation__link {
    color: #adadad;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    display: block;
    border-radius: 15px;
    margin-bottom: 2px;
}

.navigation__link:hover {
    background-color: #252525
}

.navigation__link:active {
    background-color: #00750a;
}