.heading {
    background-color: rgb(24, 24, 24);
    color: #ffffffdc;
}

.group {
    color: rgba(6, 14, 50, 0.855);
}

.title {
    background-color: rgb(24,24,24);
    color: #ffffff;
}

.button {
    background-color: black;
    color: #ffffff;
}
